body{
    margin: 0;
    padding: 0;
}
.modal-open{
    z-index: 0;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    overflow: auto;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    display: none;
}

.modal-content{
    border-radius: 10px;
    width: 60%;
    display: flex;
    margin: 0 auto;
    margin-top: 8%;
    background-color: white;
    padding: 30px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    justify-content: space-between;
}
.modal_left{
    margin-right: 20px;
    width: 50%;
}
.product_title{
    text-align: center;
    padding: 40px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.modal_right{
    width: 50%;
    padding: 20px;
}
.img img{
    width: 100%;
}
.forms{
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: space-around;
}
.product_def{
    
    padding: 0px 30px;
}
.forms input{
    width:50%;
    height: 30px;
    padding: 0px 10px;
}
.forms:last-child p:last-child{
    color: rgb(49, 49, 38);
    font-size: 30px;
    font-weight: bolder;
}
.modal_button{
    text-align: center;
}
.modal_button a{
    border: 1px solid;
    padding: 7px 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(90, 95, 79);
}
.modal_close .modal-close{
    background: none;
    border:none;
}




@media (max-width: 767px){
    .modal-content{
        flex-direction: column;
    }
    .modal_right, .modal_left{
        width: 100%;
    }
    .modal_close{
        display: none;
    }
    
}